@import '../../../styles.scss';

.component {
  .section {
    padding: 0.5rem 0.5rem 1rem;
  }
}

.main-section {
  margin-left: 50px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}